body {
    margin: 0;
    padding: 0;
    background-color: #1f3c48;
    font-family: "Roboto", sans-serif;
    color: aliceblue;
}

header div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 50px;
}

.title_bar {
    padding-left: 50px;
}

hr {
    box-sizing: border-box;
    width: 100%;
    color: #1794c9;
}

section.gallery {
    margin: auto;
    max-width: 1000px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

img.gallery_image {
    width: 200px;
    height: 125px;
    padding: 15px 25px;
}

.centered {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
}

.page_btn {
    width: 12ch;
}

.upload_form {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.validation_error {
    padding: 15px;
    max-width: 250px;
}

.validation_content {
    color: red;
}

.cancel {
    color: white;
}

footer {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

a.copy_github {
    color: white;
    text-decoration: none;
}